body,html{
    height: 100%; 
    margin:0; 
}

.img{
    background-image: url("background2.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    height: 100%; 
    width: 1699px;
    position: relative;
    
}
.classone{
    position: absolute;
    height: 200px;
    width: 250px;
    top: 0px;
  left: 16px;

   


}
.container{
   
    display:absolute;
    margin: 5px auto ;
    width: 50%;
    font-style:"Baloo Bhai",cursive ;
    
}


.navbar li{
    display: inline-block;
    font: size 15px;
    font-style:"Baloo Bhai",cursive;
    cursor: pointer;

 } 
.navbar li a{
    color: rgb(14, 13, 14);
    text-decoration: none;
    padding: 40px 29px;
    font-size: 25px;
    background-color:white;
    border-radius: 23px;
    font-style: "Baloo Bhai",cursive;
    
}
.navbar li a:hover,.navbar li a.active{
text-decoration: underline;
color: rgb(208, 32, 32);
font-size: 35px;

}
.but{
    color: black;
    display: inline block;
    position: absolute;
    right: 90px;
    top: 0px;
    height: 25px;
    width: 59px;
    font-size: 25px;
}
    .but:hover{
    font-size:29px;

    }
    

/* .but:hover{
    text-decoration: underline;
    color: black;
    font-size: 35px;
} */
.oursweets{
    display: inline-block;
    position: absolute; 
    nav-down: 2300px;
    
}

.primary{
    text-align: center;
    color: blue;
    font-size: 55px;
    margin: 0px;
    padding: 0px;

}
.anu{
    text-align: center;
    color: rgb(29, 9, 252);
    font-size: 25px;
    margin:0px;
    padding:0px;
}
.button{
    background-color: red;
    color: whitesmoke;
    border-radius: 23px;
    margin: 17px;
    cursor: pointer;
    display: inline;
    width: 12px;
}
.button:hover{
    font-size: 34px;

}
.home{
    text-align: center;
    display: inline;
    margin-bottom: 25px;
    padding: 145px;
}
.arun{
    padding: 100px;
}
.primary{
    font-size: 30px;
}